@media screen and (max-width: 700px) {
    body {
        transition: all 5s ease-in-out;
        background: var(--secondary-color);
    }

    .container {

        margin: 50px 20px 50px 20px;

    }
    input[type='text']:focus{
        outline:  2px solid var(--secondary-color);
      }
      

    button[type='submit'] {
        background: var(--secondary-color);

    }

    button[type='submit']:hover {
        background: var(--secondary-color-dark);
        color:aliceblue;
    }

}
