@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Press+Start+2P&display=swap');
:root {
    --primary-color: blueviolet;
    --primary-color-dark: rgb(96, 6, 181);
    --secondary-color:#1ABC9C;
    --secondary-color-dark:#16A085;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    line-height: 1.5em;
    letter-spacing: -3px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #ffff;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Press Start 2P', cursive;
}
h1{
    font-size: 1.4em;
}


input[type='text'] {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin: 15px auto 15px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Press Start 2P', cursive;
   
}

input[type='text']:focus{
  outline:  2px solid var(--primary-color);
}

button[type='submit'] {
    background: var(--primary-color);
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    color:#fff;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-family: 'Press Start 2P', cursive;
}
button[type='submit']:hover {
    background: var(--primary-color-dark);
    color:black;
}
label {
    color: black;
    font-size: 18px;
}


.tag{
    background: red;
    padding: 10px 20px;
    font-size: 0.8em;
    border: pink 2px solid;
    margin: 5px;
  }
  .clock{
    font-size: 3em;
}

.pause{
    color:red;
}